<%= form_for blog do |f| %> <!-- f is for form builder -->
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <br> 

    <div>
        <%= f.label :content %><br>
        <%= f.text_area :content, :cols => 30, :rows => 10 %>
    </div>
    <br>

    <div>
        <%= f.label :published_date %>
        <%= f.date_field :published_date%>
    </div>
    <br> 

    <div>
        <%= f.label :author %>
        <%= f.text_field :author %>
    </div>
    <br>

    <div>
        <%= f.label :mood %>
        <%= f.text_field :mood %>
    </div>
    <br>

    <%= f.submit button_name %>
<% end %>