<h1>Mommy Minute Blog!</h1>

<%= form_tag(user_blogs_path(current_user), method: "get") do %> 
        <%= text_field_tag :term, nil, id: "Search", placeholder: "enter search term" %>
    <%= submit_tag "Search"%>
<%end%>

<% @blogs.each do |blog| %>
    <div>
        <h3><%= link_to blog.title %></h3>
        <p><%= blog.published_date %></p>
    </div>
    <div class="comment-count">
        <%= blog.comments.count %>
    </div>
<% end %>

