<h1><%= @blog.title %></h1>
<p>Published: <%= @blog.published_date ? @blog.published_date : "Not Published" %></p>

<p><%= @blog.content %></p>

<h2>Comments</h2>
<% @blog.comments.each do |c| %>
    <p>
    <b><%= c.name %> said:</b><br>
    <%= time_ago_in_words(c.created_at) %> ago 
    </p>

    <p>
    <%= c.body %>
    </p>
<% end %>

<% form_for [@blog, Comment.new] do |f| %>
    <p>
        <%= f.label :name, "Author" %><br>
        <%= f.text_field :name %><br>
        <%= f.label :body, "Comment Description" %><br>
        <%= f.text_area :body %><br>
    </p>
    <p>
    <%= f.submit "Add Comment" %>
<% end %>

<p><%= link_to "Edit", edit_blog_path(@blog) %></p>


<p><%= link_to "Delete", blog_path(@blog), method: "delete" %></p>